$roboto-font-path: "../lib/roboto-fontface/fonts";
@import "lib/roboto-fontface/css/roboto-fontface.scss";

$zmdi-font-path: "../lib/material-design-iconic-font/dist/fonts";
@import "lib/material-design-iconic-font/scss/material-design-iconic-font.scss";

@import "lib/angular-material/angular-material.scss";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-grid-tile {
  text-align: center;
  div.header, div.footer {
    width: 100%;
    padding: 15px;
    height: 50px;
  }
  .header {
    border-bottom: solid 1px #ccc;
  }
  .footer {
    border-top: solid 1px #ccc;
    text-align: right;
    .left {
      float: left;
      padding-top: 10px;
    }
  }
  md-icon {
    font-size: 20px;
  }
  span {
    position : relative;
  }
  md-icon.star {
    position: absolute;
    left: -25px;
  }
  .md-button.md-icon-button {
    margin: 0;
    padding: 0;
    min-height: auto;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}
