<md-whiteframe class="md-whiteframe-1dp" layout-fill layout="column" layout-align="space-between center">
	<div layout="column" layout-align="space-between center" layout-fill>
		<div class="header">
			<span>
				<md-icon ng-show="cell.leader" class="zmdi zmdi-star-outline star" title="cluster leader"></md-icon>
				{{cell.ip}}
			</span>
			<md-progress-linear ng-show="!cell.reachable" class="md-warn" md-mode="indeterminate" title="node is unreachable"></md-progress-linear>
		</div>
		<div class="role">
			<div ng-repeat="role in cell.roles">
			<span>
				<md-icon ng-show="cell.roleLeader[role]" class="zmdi zmdi-star-outline star" title="role leader"></md-icon>
				{{role}}
			</span>
			</div>
		</div>
		<div class="footer">
			<md-icon ng-show="cell.isConnected()" class="zmdi zmdi-input-power zmdi-hc-rotate-270 left" title="currently connected"></md-icon>
			<md-button class="md-icon-button" aria-label="leave cluster" title="leave cluster"
				ng-click="shutdown(cell.address, false)">
				<md-icon class="zmdi zmdi-eject" ></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="power off" title="power off"
				ng-click="shutdown(cell.address, true)">
				<md-icon class="zmdi zmdi-power"></md-icon>
			</md-button>
		</div>
	</div>
</md-whiteframe>
